build/
DerivedData
build.xcarchive
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.hmap
*.ipa
*.zip
*.dSYM
fastlane/report.xml
fastlane/test_output
fastlane/Appfile
fastlane/Deliverfile
*.DS_Store
.DS_Store